# Ignorar dados grandes (mas permitir .gitkeep)
original_data/*
!original_data/.gitkeep

processed_data/*
!processed_data/.gitkeep

output_graphs/*
!output_graphs/.gitkeep

# Permitir scripts dentro das pastas, se algum dia quiser
!original_data/*.py
!processed_data/*.py
!output_graphs/*.py

# Ignorar formatos pesados
*.nc
*.csv
*.zip

# Python cache
__pycache__/
*.pyc

# VSCode
.vscode/

# Virtual envs
.venv/
venv/
